*, *::after, *::before {
	box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #eaf2e3;
  background-color: #009688;
 
}

a {
  color: #c0a672;
  text-decoration: none;
}
